#wrapper{
    margin: auto;
    text-align: center;
    width: 100%;
}

/********************************** HEADER **********************************/
#header{
    background-color: blue;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    color: white;
    font-size: 20px;
    height: 90px;
}

/******************************** CONTAINER ********************************/


/********************************** FOOTER **********************************/
#footer{
    font-size: 15px;
    text-align: center;
}

/********************************** TEXT **********************************/


/********************************** EXTRAS **********************************/
img{
    height: 300px;
}

/********************************** NOTES **********************************/
/*

*/