#wrapper{
    margin: auto;
    width: 100%;
}

/********************************** HEADER **********************************/
#header{
    background-color: #8600b3;
    font-size: 20px;
    height: 80px;
    text-align: left;
    padding: 15px 20px;
}

#nav{
    height: 60px;
    position: absolute;
    width: 60px;
    top: 33px;
    right: 50px;
}

.navLine{
    background-color: white;
    height: 20%;
    width: 100%;
}

/******************************** CONTAINER ********************************/
#container{
    background-color: white;
    height: 690px;
}

#searchBar{
    height: 100%;
    width: 24%;
    float: left;
    border-right: #bfbfbf solid 2px;
    text-align: center;
}

#searchFilter{
    height: 200px;
    width: 80%;
    margin: 100px 20px;
}

#listings{
    height: 100%;
    width: 75%;
    float: right;
}

.listing{
    height: 200px;
    width: 90%;
    margin: 20px 5%;
    border: 2px solid #8600b3;
    border-radius: 5px;
}

.listingInfo{
    height: 90%;
    width: 350px;
    margin: -10px 15px;
    float: left;
    
}

.listingPhoto{
    height: 100%;
    width:200px;
    float: right;
    overflow: hidden;
}

#infoView{
    width: 50%;
    float: left;
    margin: 1%;
    text-align: left;
    padding: 5%;
}

#mediaView{
    text-align: center;
    width: 35%;
    margin: 1%;
    float: right;
}

#flatPhotos{
    height: 300px;
    overflow: hidden;
}

#flatMap{
    height: 300px;
    overflow: hidden;
}

#renterPhoto{
    height: 650px;
    overflow: hidden;
}

#userType{
    height: 60px;
    width: 450px;
    margin: auto;
    border: #8600b3 solid 2px;
    border-radius: 5px;
    text-align: center;
}

#userTypeRenter{
    height: 40px;
    width: 150px;
    float: left;
    padding-top: 20px;
}

#userTypeLandlord{
    height: 40px;
    width: 150px;
    margin: auto;
    margin-top: -2px;
    padding-top: 20px;
    border: #8600b3 solid 2px;
}

#userTypeService{
    height: 40px;
    width: 150px;
    padding-top: 20px;
    float: right;
    margin-top: -62px;
}

#borderedBox{
    height: 71%;
    width: 40%;
    left: 50%;
    margin-left: -20%;
    margin-top: 20px;
    position: absolute;
    padding: 30px;
    border: solid #8600b3 2px;
    border-radius: 5px;
}

#submitButton{
    margin: auto;
    text-align: center;
}

/********************************** FOOTER **********************************/
#footer{
    background-color: #8600b3;
    padding: 10px 20px;
    height: 40px;
}

/********************************** TEXT **********************************/
h1{
    font-family: 'Alatsi', sans-serif;
    margin-top: -10px;
    font-size: 75px;
    color: #fff;
}

h2{
    font-family: 'Alatsi', sans-serif;
    margin-top: -10px;
    font-size: 30px;
    color: #8600b3;
}

h3{
    font-family: 'Alatsi', sans-serif;
    font-size: 25px;
    color: #8600b3;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: -10px;
    color: #a6a6a6;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin: 0 -10px;
    color: #a6a6a6;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0 -10px;
    color: #a6a6a6;
    text-align: justify;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #a6a6a6;
}

/********************************** EXTRAS **********************************/
.buttons{
    height: 30px;
    border: 2px solid #8600b3;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Alatsi', sans-serif;
    font-size: 15px;
    color: #8600b3;
}

.buttons:hover {
    height: 34px;
    font-size: 20px;
    color: #8600b3;
}

.bigButton{
    height: 40px;
    border: 2px solid #8600b3;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Alatsi', sans-serif;
    font-size: 25px;
    color: #8600b3;
}

.bigButton:hover {
    height: 45px;
    font-size: 30px;
    color: #8600b3;
}

img{
    width: 100%;
}

a:link{
  text-decoration: none;
}

/********************************** NOTES **********************************/
/*
    header purple: #8600b3;
    text grey: #bfbfbf
    headers: 'Alatsi', sans-serif;
    paragrpahs: 'Open Sans', sans-serif;
*/