<!DOCTYPE html>

<html ng-app="BookingApp">
    <head>
        <title>DRH - Create Account</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/BookingViews.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1>dunedin renter's hub.</h1>
                <div id="nav">
                    <div class="navLine" style="margin-top: 10%"></div>
                    <div class="navLine" style="margin-top: 10%"></div>
                    <div class="navLine" style="margin-top: 10%"></div>
                </div>
            </div>

            <div id="container">
                <div id="borderedBox">
                    <h2 style="text-align: center;">Create Account</h2>
                    <div id="userType">
                        <a href="createRAccount.html">
                            <div id="userTypeRenter">
                                <h2>Renter</h2>
                            </div>
                        </a>
                        <div id="userTypeLandlord" style="background-color: #8600b3;">
                            <h2 style="color: #fff;">Landlord</h2>
                        </div>
                        <a href="createSAccount.html">
                            <div id="userTypeService">
                                <h2>Service</h2>
                            </div>
                        </a>
                    </div>
                    <br>
                    <form ng-controller="RegisterLandlordController as regCtrl" ng-submit="regCtrl.registerLandlord(landlord)">
                        <label for="username">Username:</label>
                        <br>
                        <input type="text" name="username" ng-model="landlord.userName" required minlength="4" maxlength="30">
                        <br>
                        <br>
                        <label for="email">Email:</label>
                        <br>
                        <input type="email" name="email" ng-model="landlord.landlordEmail">
                        <br>
                        <br>
                        <label for="phone">Phone:</label>
                        <br>
                        <input type="text" name="phone" ng-model="landlord.landlordPhone">
                        <br>
                        <br>
                        <label for="password">Password:</label>
                        <br>
                        <input type="password" name="password" ng-model="landlord.landlordPassword" required minlength="8" maxlength="15">
                        <br>
                        <br>
                        <div id="submitButton">
                            <input type="submit" value="Create Account" class="bigButton">
                        </div>
                    </form>
                </div>
            </div>

            <div id="footer">
                <h1 style="font-size: 45px">drh.</h1>
                <a href="login.html">
                    <h1 style="position: relative; text-align: right; top:-70px; font-size: 25px;">log in</h1>
                </a>
            </div>
        </div>
    </body>
</html>